.singleProject-wrapper{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    min-height: calc(70vh);
    justify-content: space-around;
}

.singleProject-title{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    display:flex;
    width: 100%;
    justify-content: center;
}

.singleProject-name-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.rewardCard{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 75%;
    background-color: #bbd8c3;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius:5px;
    overflow: hidden;
}

.singleProject-description{
    max-width: 30%;
    font-size: 20px;
}

.rewardCard:hover{
    /* box-shadow: 0 .1rem 5px #efe8cf6e; */
    transform: translateY(-2px) ;
    cursor: pointer;
}

.progress-bar{
    width: 100%;
    height: .65rem;
    background-color: #BCC3C6;
    margin-top: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.progress-status{
    height: .65rem;
    background-color: #6D9688;
    transition: all 2s ease ;
    max-width: 125%;
}
.singleProject-card-img{
    width: 450px;
    height: 350px;
    /* aspect-ratio: 16/9; */
}

.rewardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 35rem;
    overflow: hidden;
    background-color: #37393a;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
}

.reward-title{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .75rem;
    overflow-y: hidden;
    height: 100%;
}

.reward-description{
    margin-bottom: .25rem;
    height: 100%;
    overflow-x: none;
}

.reward-info{
    max-width: 80%;

}

.reward-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    height: 50px;
    border-radius:5px;
    overflow: hidden;
    height: 100%;
}

.editRewardBtn, .deleteRewardBtn, .createRewardBtn{
    background-color: #dfe1e2;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
}

.createRewardBtn{
    height: 30px;
}
.createRewardBtnContainer {
    overflow-y: hidden;
}

.amount-contributed{
    color: #000000;
    width: 20%;
}
.backing-rewards{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media only screen and (max-width:1375px){

    .rewardsContainer{
        display: flex;
        align-items: center;
        max-height: 15rem;
        height: 15rem;
        overflow-x: auto;
        flex-direction: row;
        background-color: #37393a;
        gap: 1.5rem;
        width: 80%;
        padding: 1rem;
        border-radius: 10px;
        overflow-y: hidden;
    }

    .rewardCard{
        display: flex;
        flex-direction: row;
        align-items:center;
        width: 30rem;
        background-color: #bbd8c3;
        padding: 1rem;
        margin-bottom: 0;
        border-radius:5px;
        max-width: 30rem;
        height: 11rem;
    }

    .reward-info{
        display: flex;
        flex-direction: row;
        width: 17rem;
        align-items: center;
    }

    .reward-title{
        border-right: 1px solid rgba(0, 0, 0, 0.246);
        height: 60%;
        display: flex;
        align-items: center;
        margin-right: .6rem;
        padding-right: .6rem;
    }

    .reward-price{
        margin-right: 1rem;
        width: 10rem;
    }

    .amount-contributed{
        text-align: center;
        width: 20%;
    }
    .backing-rewards{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        gap: 1rem;
    }

}
