.splash-wrapper {
    height:calc(100vh);
    width:calc(99.2vw);
}
.splash-top{
    display: flex;
    height: 70%;
    width: 100%;
}
.splashbox{
    width:33.33%;
    height:100%;
    margin:0;
    display:flex;
    justify-content:center;
    align-items: center;
}
.left{
    background-color: #BBD8C3;
}
.mid{
    background-color: #EFE8CF;
}
.right{
    background-color: #ffffff;
    flex-direction: column;
}
.left-text{
    margin: 4rem;
    font-size: calc((1.75vh + 0.25vw));
    color: #7e8385;
}
.right-text{
    margin: 3rem;
    font-size: calc(4vh);
}
.splash-bottom{
    display: flex;
    height: 30%;
    width: 100%;
}
.long-splashbox{
    width:66.7%;
    height:100%;
    background-color: #37393A;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.short-splashbox{
    width:33.33%;
    height:100%;
}
.splash-logo-img-top{
    width:auto;
    transition: all 1s ease;
}

.splash-logo-img-bottom{
    height:6rem;
    width:auto;
    margin-right: 1.2rem
}
.circle{
    height: calc(3vh);
    width: calc(3vh);
    border-radius:3rem;

    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.253);
}
.circle:hover{
    height: calc(3.05vh);
    width: calc(3.05vh);
    border-radius:3rem;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.353);
    transform: translateY(-.5px);
    cursor: pointer;
}
.one{
    background-color:#EFE8CF;
    margin-left: 5rem;
}
.two{
    background-color:#A39E8D;
}
.three{
    background-color:#6D9789;

}
.four{
    background-color:#BBD8C3;

}
.five{
    background-color:#fff;
    margin-right: 5rem;
}
.top{
    height: 50%;
    background-color: #BCC3C6;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.bottom{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 50%;
    font-size: calc(3vh);
    background-color: #BBD8C3
}
.bottom:hover{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 50%;
    font-size: calc(3vh);
    background-color: #9ab4a2;
    cursor: pointer;
}
.login{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 20%;
    background-color: #fff;
    color:#37393A;
    height: 35%;
    margin-left: 15rem;
    font-size: calc(3vh);
    border-radius: 15px;
}
.sign-up{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 20%;
    color:#37393A;
    background-color: #EFE8CF;
    height: 35%;
    margin-right: 15rem;
    font-size: calc(3vh);
    border-radius: 15px;
}
.login:hover{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 20%;
    background-color: rgb(200, 200, 200);
    color:#37393A;
    height:35%;
    margin-left: 15rem;
    font-size: calc(3vh);
    border-radius: 15px;
    cursor: pointer;
}

.sign-up:hover{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:20%;
    color:#37393A;
    background-color: #d8d3c0;
    height: 35%;
    margin-right: 15rem;
    font-size: calc(3vh);
    border-radius: 15px;
    cursor: pointer;
}


.sproject-card{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border:none; */
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
    width: calc(25vw);
    height: calc(65vh);
    /* padding:1rem; */
    transition: all .2s ease ;
    background-color:white;
    border-bottom: .2px solid rgba(128, 128, 128, 0.272);
    border-left: .1px solid rgba(128, 128, 128, 0.272);
    border-right: .1px solid rgba(128, 128, 128, 0.272);
}
.sproject-card:hover{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
    /* padding:1rem; */
    transform: translateY(-2px) ;
    cursor: pointer;
}

.sproject-card-img{
    width: calc(25vw);
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sproject-card-info{
   display:flex;
   flex-direction: column;
   gap: 1rem;
   font-size: calc((2vh + 1vw)/2);
   padding: .5rem;
   padding-top: 0;
   max-width: 80%;
}

.project-title{
    font-weight: bold;
}

.stitle{
    font-weight: 500;
}

.sprogress-bar-all{
    width: calc(25vw);
    height: .5rem;
    background-color: #BCC3C6;
    margin-top: 0;
}

.sprogress-status-all{
    height: .5rem;
    background-color: #6D9688;
    transition: all 2s;
    max-width: 100%;
}
.plant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small{
    height:3rem;
}
.med{
    height:4rem;
}
.xmed{
    height:4.5rem;
}
.large{
    height:4.85rem;
}
.xlarge{
    height:5.15rem;
}
