.backing-form-container{
    margin-top: 1rem;
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
    /* align-items: center;
    width: 100%; */
}
.backing-form {
    /* justify-content: space-between;
    display: flex;
    align-items: center; */
    align-items: flex-start;
    width: 100%;
}
.backBtn, .backMoreBtn {
    background-color: rgb(188,195,198);
    border-radius:5px;
    padding: 0.25rem .5rem;
    outline: none;
    border: none;
    margin-left: .7rem;
    color: #37393a;
    /* margin-right: 0; */
    cursor: pointer;
}

.backBtn:hover, .backMoreBtn:hover {
    background-color: rgb(167, 174, 177);
    border-radius:5px;
    padding: 0.25rem .5rem;
    outline: none;
    border: none;
    margin-left: .7rem;
    color: #37393a;
}
.backed-input {
    height: 20px;
    border: 1px solid #0000002d;
    border-radius: 5px;
    width: 57%;
    padding-left: 10px;
}
@media only screen and (max-width:1375px){
    .backed-input {
        /* width: 40%; */
    }
}
