.form {
    padding: 15px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.form-container {
    display: flex;
    height: 100%;
    width: 100%;
}
.project-title-input, .project-description-input, .project-price-input {
    margin: 10px;
    width: 80%;
}
.category-dropdown-menu {
    width: 82.3%;
}
.editProjectModalBtn {
    background-color: #6D9688;
    border: none;
    border-radius: 2px;
    overflow-y: hidden;
}
.editProjectModalBtn:hover {
    background-color: #5b7e73;
    cursor: pointer;
}
.editProjectFormBtn {
    background-color: #BCC3C6;
    border: none;
    border-radius: 2px;
}
.editProjectFormBtn:hover {
    background-color: rgb(167, 174, 177);
}
