.login-container{
    display: flex;
    height: 100%;
}

.sidebar{
    display: flex;
    height: 100%;
    width: 3rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #6D9789;
}

/* this is on the Login.css page */
/* .login-modal{
    padding: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.email-input{
    margin: 10px;
    width: 80%;
}

.password-input{
    width: 80%;
}

/* this is on the Login.css page */
/* .login-button{
    margin-top: 10px;
    border-radius: 50px;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    background-color: #6D9789;
    color: white;
    width: 80%;
} */

.login-button:hover{
    background-color: #5b7e73;
    cursor: pointer;
}

.errors{
    color: rgb(202, 0, 0);
    font-weight: 500;
}
