.category-bar{
    display:flex;
    gap: 1rem;
    align-items:center;
    justify-content:center;
    height: 2rem;
    box-sizing: border-box;
}
.category-name:hover{
    color: #6D9688;
    border-bottom: 3px solid #6D9688;
    box-sizing: border-box;
    margin-bottom: 0px;
    cursor: pointer;
}

.category-name{
    transition: all .2s ease;
    box-sizing: border-box;
    margin-bottom: 3px;
}
