.editRewardModalBtn {
    background-color: #6D9688;
    border: none;
    border-radius: 2px;
}
.editRewardModalBtn:hover {
    background-color: #5b7e73;
    cursor: pointer;
}
.reward-title-input, .reward-description-input, .reward-price-input {
    margin: 10px;
    width: 80%;
}
