.editRewardModalBtn {
    background-color: #6D9688;
    border: none;
    border-radius: 5px;
    padding: .5rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}
.editRewardModalBtn:hover {
    background-color: #5b7e73;
    cursor: pointer;
}

.reward-title-input, .reward-description-input, .reward-price-input {
    margin: 5px;
    width: 80%;
    height: 1.4rem;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    outline:none;
}
