.deleteRewardModalBtn {
    background-color: #fd3c2ea9;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
    font-weight: 500;
}
.deleteRewardFormBtn {
    background-color: #BCC3C6;
    border: none;
    border-radius: 2px;
    padding: 0.25rem 1.5rem;
    cursor: pointer;
}
.deleteRewardFormBtn:hover {
    background-color: rgb(167, 174, 177);
    cursor: pointer;
}
.deleteRewardModal {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 100%;
    background-color: white;
}
.deleteRewardModalBtn:hover {
    background-color: #fd3c2ebb;
    cursor: pointer;
}
